<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Calculator (Без не целых чисел)</title>
</head>
<body>
    <h1>Калькулятор без десятичных чисел</h1>
    <form method="post">
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <select name="sigma" id="sigma">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>
        <textarea name="title" id="title" cols="30" rows="10"></textarea>
        <input type= "submit">
    </form>
    <h1>{{ alfa }}</h1>
</body>
</html>